<div class="container">
    <div class="cont-home">
        <h1>Home</h1>

        <div class="d-flex flex-wrap content-products">
            <div *ngFor="let product of listProducts" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}} <span>{{product.price}}</span></h5>
                    <p class="card-text">{{product.description}}</p>
                    <a class="btn btn-success" (click)="selectProduct(product, template)">Resgatar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmação do Pedido</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Por favor, confira os valores de seu pedido. Uma vez finalizado, o pedido não poderá ser cancelado</div>

        <div class="content-products">
            <div class="listProducts">Nome do produto: <span>{{productSelected.title}}</span></div>
            <div class="listProducts">Qtd de pontos: <span>{{productSelected.price}}</span> </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmPurchase()">Resgatar</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
    </div>
</ng-template>