.box-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content-signup {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        background: white;
        border-radius: 15px;
        width: 850px;

        .cont-left,
        .cont-rigth {
            padding: 0 25px;
        }

        .cont-rigth {
            .form-control {
                margin: 15px 0;
            }
            .remember {
                margin-top: 15px;
                margin-bottom: 20px;

                label {
                    margin-left: 10px;
                }
            }
        }

        .cont-left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 767px) {
    .content-signup {
        flex-wrap: wrap;

        .cont-left {
            order: 1;
        }

        .cont-left,
        .cont-rigth {
            width: 100%;
            max-width: 100%;
            flex: 100%;

            figure {
                width: 100%;
                text-align: center;
            }
        }
    }
}
