.content-saldo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border-right: 1px solid #9c9c9c;
    padding-right: 25px;

    span {
        text-align: center;
        font-weight: bold;
        margin-right: 10px;
        border: 2px solid red;
        border-radius: 30px;
        padding: 2px;
        color: red;
        font-size: 14px;
    }
}

.content-user {
    display: flex;
    align-items: center;

    i {
        margin: 0 10px;
        cursor: pointer;
        font-size: 14px;
        color: red;

        &:first-child {
            color: #001f53;
        }
    }
}

.logo {
    img {
        width: 100px;
        cursor: pointer;
    }
}
